body {
  background-image: url('https://res.cloudinary.com/dl7gzlb0w/image/upload/v1537905356/DSC_3513.jpg');
  margin: 1;
  padding: 0;
  font-family: sans-serif;
}

.inline div{
  display: inline-block;
}

#targetChar {
  color: red;
} 

#container {
  margin: auto;
  width: 50%;
  text-align: center;
  background-color: rgb(248, 255, 252);
  opacity: .95;
  border-style: double;
  border-spacing: 1em;
  border-width: 9px;
  border-radius: 29px;
  border-color: teal;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
  font-size: 2em; 
}

h1 {
  color: rosybrown;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
  text-shadow: 1px 2px 1px blanchedalmond
}

h4 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 2em;
  color: royalblue
}

.link {
  font-size: 1.5em;
}

.modal {
  position: relative;
  margin: auto;
  right: auto;
  top: 42%;
  width: 40%;
  height: 40%;
  text-align: center;
  background-color: rgb(246, 248, 255);
  opacity: .8;
  border-style: double;
  border-spacing: 1em;
  border-width: 9px;
  border-radius: 29px;
  border-color: rgb(151, 151, 151);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
  font-size: 20px; 
}

.modal button {
  height: 50px;
  width: 145px;
  margin-bottom: 20px;
  background-color: oldlace;
  border-width: 4px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
  font-size: 15px;
  border-style: double;
  border-radius: 20px;
}

.highScore {
  color: lightseagreen;
  font-Size: 20px;
  padding: 9px;
}

